<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--estilos BS online-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
         <!--fin estilos BS online-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../estilo/estilo.css">
    <title>problemas sociales</title>
</head>
<body>
  <header>
    <!--NAVBAR-->   
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
              <a class="navbar-brand" href="../index.html"><img class="w-100" src="../img/logo.png" alt="logo"></a>
              <button class="navbar-toggler border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--items nav-->
                <ul class="navbar-nav d-flex justify-content-md-end w-100 text-center">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../views/sobre-mi.html">Sobre mí</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="../views/problemas.html">¿Problemas?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="../views/re-pensemos.html">Re Pensemos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="../views/contacto.html">Contactame</a>
                    </li>
                </ul>
        <!--fin items nav-->        
              </div>
            </div>
          </nav>
    <!--FIN-NAVBAR-->  
</header>
 <!--Titulos--> 
<section>
    <div class="d-flex p-2 bd-highlight justify-content-center">
     <h1 class="text-light">¿Que son los Problemas Vinculares?</h1>   
    </div>
</section>

<!--contenido-->
<section class="w-100">
  <div>
    <img src="../img/mujer-estresada.jpg"  class="imagenProblemas img-fluid ps-2 pe-2" alt="mujer estresada">
  </div>
</section>
<!--tarjeta pichon-->
<section>
  <div class="card mt-2 ms-2 me-2 border border-dark">
    <div class="row g-0 bg-dark ">
      <div class="col-md-3 mb-1 mt-1">
        <img src="../img/pichon-riviere.jpg" class="img-fluid rounded-start border border-light" alt="pichon-riviere">
        <p class="card-text fs-5 ms-1 text-secondary"> Enrique Pichon Rivière: médico psiquiatra y psicoanalista(1907-1977).</p>
      </div>
      <div class="col-md-5" >
        <div class="card-body">
          <h5 class="card-title fs-2 text-light">Segun la Teoria Pichoniana:</h5>
          <p class="card-text fs-5 text-light m"> Exite la adpatacion pasiva, locual genera una manera de solucionar algun proceso de adaptacion produciendo probelas en notros y en los que nos rodean, afectando la salud mental, pero Se pueden operar mediante los vinculos y en nuestra propia subjetividad con oto o en grupo para poder adaptarnos operativamente a la realidad. Esto quiere decir adaptarno a nuestra propia manera, una manera creativa, para poder seguir a delante y resguardar nuestra salud mental.
          <br>
          Algunos ejemplos de vinculacion que podemos tratar juntos son:
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Fin tarjeta pichon-->

<!--Grilla contenido-->

</section  class="conteiner"> 
  <div class="row">
    <div class="card col-md-5 mx-auto mt-3">
      <img src="../img/seria-reunion-familiar.jpg" class="card-img-top mt-2" alt="discusion familiar">
      <div class="card-body">
        <h2 class="fs-2 fw-bold">
          Vinculacion Familiar:
        </h2>
        <p class="card-text fs-5">No podemos olvidar la importancia de la familia en nuestro proceso y de como aprendemos a vincularnos desde este primer grupo.
        Conductas que aprendemos en el grupo familiar y de como pueden ser un problema con los otros y Sobre todo con nosotros mismos.
        </p>
      </div>
    </div>

    <div class="card col-md-5 mx-auto mt-3">
      <img src="../img/discusion-pareja2.jpg" class="card-img-top mt-2" alt="discucion de pareja">
      <div class="card-body">
        <h2 class="fs-2 fw-bold">
          Vinculacion Amorosa:
        </h2>
        <p class="card-text fs-5">La manera de como nos vinculamos con nuestras parejas y de como puede ser un problema para la relacion. Detectar esto a timpo y trabajar juntos, mejorara la relacion con esa persona especial.  </p>
      </div>
    </div>
  </div>
<section>
</section>

</section  class="conteiner"> 
<div class="row pt-3">
  <div class="card col-md-5 mx-auto mt-3">
    <img src="../img/mujer-estresada-con-computadora.jpg" class="card-img-top mt-2" alt="estudiar">
    <div class="card-body">
      <h2 class="fs-2 fw-bold">
        Vincularnos con el trabajo:
      </h2>
      <p class="card-text fs-5">La importancia de revisar nuestra vinculacion con el trabajo y las personas con las que trabajamos nos facilitara el mejor desempeño y confianza en el ambiente boral.</p>
    </div>
  </div>

  <div class="card col-md-5 mx-auto mt-3">
    <img src="../img/discusion-pareja1.jpg" class="card-img-top mt-2" alt="discusion de amigos">
    <div class="card-body">
      <h2 class="fs-2 fw-bold">
       Vinculacion Amistosa:
      </h2>
      <p class="card-text fs-5">Nuestras amistades son uno d elos grupos mas importantes por al influencia de los mismos en nosotros, entender esto nos ayuda a revisar nuestra vinculacion con ellos y poder forjar mejores relaciones o dejar las que no podemos mantener.</p>
    </div>
  </div>
</div>
<section>
</section>
<!--Fin Grilla contenido-->

<!--Fin de contenido-->
            


<!--Footer-->
<footer>
    <div class="container-fluid border-top mt-3">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
          <a href="../index.html" class="mb-3 me-2 text-decoration-none lh-1"> <img src="../img/logo.png" alt="mejorando vinculos" width="100" height="30"></a>
            
          <span class="text-light">&copy; 2022 Mejorando vinculos</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-1"><a class="text-muted">
            <a href="https://www.facebook.com/" class="mb-3 me-2 text-decoration-none lh-1"> <img src="../img/facebook.png" alt="facebook" width="50" height="40"></a></a></li>
    
          <li class="ms-1"><a class="text-muted"><a href="https://www.instagram.com" class="mb-3 me-2 text-decoration-none lh-1"> <img src="../img/instagram.png" alt="instagram" width="50" height="40"></a></a></li>
    
          <li class="ms-1"><a href="https://www.whatsapp.com/"  class="text-muted"><img src="../img/whatsapp.png" alt="instagram" width="50" height="40"></a></a></li></a></li>
        </ul>
      </footer>
    </div>
</footer>
  <!-- FIN Footer-->

<!--link JV-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!--fin link JV-->

    
</body>
</html>