<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--estilos BS online-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--fin estilos BS online-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilo/estilo.css">
    <title>Re pensemos juntos</title>
</head>
<body>
<header>
        <!--NAVBAR-->   
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container">
                  <a class="navbar-brand" href="../index.html"><img class="w-100" src="../img/logo.png" alt="logo"></a>
                  <button class="navbar-toggler border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--items nav-->
                    <ul class="navbar-nav d-flex justify-content-md-end w-100 text-center">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/sobre-mi.html">Sobre mí</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="../views/problemas.html">¿Problemas?</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="../views/re-pensemos.html">Re Pensemos</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="../views/contacto.html">Contactame</a>
                        </li>
                    </ul>
            <!--fin items nav-->        
                  </div>
                </div>
              </nav>
        <!--FIN-NAVBAR-->  
</header>
 <!--Titulos--> 
<section>
    <div class="d-flex p-2 bd-highlight justify-content-center">
     <h1 class="text-light">Podemos Juntos </h1>   
    </div>
</section>
<!--contenido-->
<section class="w-100">
  <img src="../img/imagen-apoyo.jpg"  class="imagenProblemas img-fluid ps-2 pe-2" alt="mujer estresada">
</section>

<div class="container marketing"> 

  <!-- START THE FEATURETTES -->

  <div class="row featurette mt-2 bg-light pb-2 pt-2">
    <div class="col-md-7">
      <h2 class="featurette-heading text-decoration-underline fs-2 mt-3">Atrevete a Enfrentar los problemas:</h2>
      <p class="lead fs-3">Atrevete a enfrenrtar tus problemas y mejorar tu salun mental y lograr tus objetivos. </p>
    </div>
    <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="../img/enfrentar-problemas.jpg" alt="enfrentar>">
    </div>
  </div>

  <div class="row featurette mt-3 bg-light pb-2 pt-2 ">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-decoration-underline fs-2">Apliquemos Nuestra Cretaividad: </h2>
      <p class="lead fs-3">Platicar sobre nuestras ideas y poder llevar a cabo el conjunto maneras para solucionar nuestros problemas a nuestra manera. </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../img/tomando-luz.jpg" alt="tomando ideas>">
    </div>
  </div>

  <div class="row featurette mt-3 bg-light mb-2 pt-2">
    <div class="col-md-7">
      <h2 class="featurette-heading text-decoration-underline fs-2">Hay muchas formas de pensar:</h2>
      <p class="lead fs-3">Hablar con otros, parecidos o diferentes de nosotros, nos ayuda a despejar la mente y ver otos puntos de vista.  </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto pb-2" src="../img/imagen-grupo.jpg" alt="imagen de grupo">
    </div>
    
  </div>
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->

<div class="container marketing"> 

  <!-- START THE FEATURETTES -->

  <div class="row featurette mt-2 bg-light pb-2 pt-2">
    <div class="col-md-7">
      <h2 class="featurette-heading text-decoration-underline fs-2">Mejoremos la Calidad de Nuestras Relaciones:</h2>
      <p class="lead fs-3"> el mejorar la interaccion con otros de manera creativa nos ayuda a mantener relaciones fuertes y redes de apoyo en las cuales confiar. </p>
    </div>
    <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="../img/pareja-divirtiendose.jpg" alt="pareja divirtiendose>">
    </div>
  </div>

  <div class="row featurette mt-3 bg-light pb-2 pt-2 ">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-decoration-underline fs-2">Pensemos Flexiblemente:</h2>
      <p class="lead fs-3">Practicar o intentar obtener una mente flexible nos genera mas libertad a la hora de tomar decisiones, pensar cvon otros y vivir con otros.  </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../img/libertad.jpg" alt="expresion de libertad>">
    </div>
  </div>

  <div class="row featurette mt-3 bg-light mb-2 pt-2">
    <div class="col-md-7">
      <h2 class="featurette-heading text-decoration-underline fs-2">La Importancia De La Salud Mental:</h2>
      <p class="lead fs-3">La tranquilidad y la paz mental de poder convivir en plenitus con nustro ambiente es la tarea principa, toma timpo y esfuerzo, sin embargo los cambios nos ayudan a seguir.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto pb-2" src="../img/mujer-meditando.jpg" alt="chica meditando">
    </div>
    
    

  </div>
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->



<!--Fin de contenido-->
            


<!--Footer-->
<footer>
    <div class="container-fluid border-top">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
          <a href="../index.html" class="mb-3 me-2 text-decoration-none lh-1"> <img src="../img/logo.png" alt="mejorando vinculos" width="100" height="30"></a>
            
          <span class="text-light">&copy; 2022 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-1"><a class="text-muted">
            <a href="https://www.facebook.com/" class="mb-3 me-2 text-decoration-none lh-1"> <img src="../img/facebook.png" alt="facebook" width="50" height="40"></a></a></li>
    
          <li class="ms-1"><a class="text-muted"><a href="https://www.instagram.com" class="mb-3 me-2 text-decoration-none lh-1"> <img src="../img/instagram.png" alt="instagram" width="50" height="40"></a></a></li>
    
          <li class="ms-1"><a href="https://www.whatsapp.com/"  class="text-muted"><img src="../img/whatsapp.png" alt="instagram" width="50" height="40"></a></a></li></a></li>
        </ul>
      </footer>
    </div>
  </footer>
  <!-- FIN Footer-->

<!--link JV-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!--fin link JV-->

    
</body>
</html>